h2{
    margin-left: 30px;
}

.dashboard {
    /* width: 90%;
    height: 90%; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto); /* 1fr 2fr alternative? */
    border: 2px solid #881111;
    /* not really sure how this one works, come back */
    position: relative; 
}

label{
    vertical-align: auto;
}

.short-response{
    grid-column: 1 / 2;
    width: 40%;
    height: 40%;
    /* grid-column: 1; */
    margin-left: 30px;
}

.long-response{
    width:90%;
    height:90%;
    margin-left: 30px;
    grid-column: 1 / 2;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.upload-documents{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, auto);
}

.circle{
    /* margin-left: 50%; */
    grid-column: 2 ;
    padding:0%;
    fill:#d3d3d3;
    stroke: gray;
    stroke-width: 2px;
}

.circle:hover{
    fill:#808080;
    fill-opacity: 100%;
}


.profile-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    position: relative;
}

.resume-upload {
    padding-top: 30px;
    grid-column: 1;
    margin-left: 200px;
}